* {
    box-sizing: border-box;
}

body{
    background-color: #eeeeee;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    font-family:sans-serif;
    backdrop-filter: blur(10px);
}

.logo{
    color: black;
    font-size: 25px;
    text-decoration: none;
    font-family: cursive;
    font-weight: 600;
    cursor: default;
}

.navbar a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
}
.navbar a:hover{
    color: rgb(146, 146, 146);
}

.img-div{
    display: grid;
    grid-template-columns: auto  auto;
    max-width: 100%;
    flex-basis: 50%;
    align-items:center;
    float: left;
    width: 300px;
    height: 260px;
    padding: 0 10px 0 0;
}

.img2-div .img-breakfast{
    display: block;
    margin-left: 60%;
    margin-top: 5%;
}

.qoute{
    font-family:cursive;
    text-align:justify;
    margin-left: 110%;
    margin-right: 110%;
    margin-bottom: 125px;
}

.text{
    font-family:sans-serif;
    margin-top: 55px;
    margin-right: 10%;
}